<div class="myDiv" style="border:1px solid lightgray;background-color:#FCFCE8;margin-top:2vh;margin-left:4vw;margin-right:4vw;">
    

    <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;margin-top:12vh;">
        <span style="padding-bottom:2vh;display:inline-block;font-size:18px;font-variant-caps:all-petite-caps;">  No information available or the requested URL was not found on the server.
            
      For example, when the headword could not be found, a region or domain identifier do not exist, or the headword does not contain any attribute that match the filters in the request. It may also be the case that the URL is misspelled or incomplete.
           </span>
        </div>



        <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;margin-bottom:12vh;">
                <span style="padding-bottom:2vh;display:inline-block;font-size:18px;font-variant-caps:all-petite-caps;">  Please visit <a  href="https://developer.oxforddictionaries.com/documentation">Oxford Dictionary API Documentation</a> for any assistance.
             
                   </span>
                </div>
    </div>