<div class="myDiv" style="border:1px solid lightgray;background-color:#FCFCE8;margin-top:2vh;margin-left:4vw;margin-right:4vw;">
    
    <div class="col-md-10 col-md-offset-2 border_bottom" style="border-bottom:1px solid darkgray;margin-top:12vh;">
        <span style="padding-bottom:2vh;display:inline-block;font-size:18px;font-variant-caps:all-petite-caps;">  No information available or the requested URL was not found on the server.
            
            Please check that the app_id and app_key are correct, and that the URL you are trying to access is correct. These can be found in the API Credentials page.
           </span>
        </div>
        <div class="col-md-10 col-md-offset-2 border_bottom" style="border-bottom:1px solid darkgray;margin-bottom:12vh;">
                <span style="padding-bottom:2vh;display:inline-block;font-size:18px;font-variant-caps:all-petite-caps;">  Please visit <a style="color:skyblue;text-decoration:none;" href="https://developer.oxforddictionaries.com/documentation">Oxford Dictionary API Documentation</a> for any assistance.
             
                   </span>
                </div>
    </div>