
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container-fluid container-fluid-1">
    
     <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display-->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling-->
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
           
            
          </ul>
          <ul  class="nav navbar-nav navbar-right">
              <li> <a class="btn font-weight" (click)="goBackToPreviousPage()">Go Back </a></li>
              </ul>
        </div>
       
      </div>
    </nav>


    <div class="row header">
        <div class="col-md-12">
            
      <span style="display:inline-block;font-size:22px;font-weight:bold;color:lightskyblue" class="font-small">Inspired By</span>    <a style="display:inline-block;vertical-align:middle;" class="title_style" [routerLink]="['/']"><img src="assets\Images\oxford.png" class="img-responsive img1_style_main"></a>
      
    </div>
      </div>





















      

 
  </div>
  
  <br/>
 <router-outlet></router-outlet>
 
 