
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="bg-img">
  <div class="container-fluid container-fluid-1">
    
    <nav class="navbar navbar-inverse" >
      <div class="bg-navbar"></div>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
    
    
   
       
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/about']">About</a></li>
           
            
          </ul>
          <ul  class="nav navbar-nav navbar-right">
              <li> <a class="btn font-weight" (click)="goBackToPreviousPage()">Go Back </a></li>
              </ul>
     
      </div>
    </nav>
  
<!--

    <div class="row header">
        <div class="col-md-12">
            
      <span style="display:inline-block;font-size:22px;font-weight:bold;color:lightskyblue" class="font-small">Inspired By</span>    <a style="display:inline-block;vertical-align:middle;" class="title_style" [routerLink]="['/']"><img src="assets\Images\oxford.png" class="img-responsive img1_style_main"></a>
      
    </div>
      </div>
    -->















    <div class="slide-left font_animate">
      <p>Welcome to the world of <span style='color: blue'>W</span>
        <span style='color: red'>o</span>
        <span style='color: burlywood'>r</span>
        <span style='color: blue'>d</span>
        <span style='color: green'>s</span>
         inspired by <span style="color:skyblue;text-decoration:none;"><a style="color:skyblue;text-decoration:none;"href="https://www.oxforddictionaries.com/">Oxford Dictionaries</a></span></p>
      </div>




      

 
  </div>
  
  <br/>
 <router-outlet></router-outlet>
 
 