<div class="myDiv" style="border:1px solid lightgray;background-color:#FCFCE8;margin-top:2vh;margin-left:4vw;margin-right:4vw;">


  <div *ngFor="let result of results">
    <div class="col-md-10 col-md-offset-1 border_bottom" style="padding-bottom:2vh;margin-top:12vh;;display:inline-block;font-size:18px;text-align:left;font-variant:small-caps">Definition of <span style="color:coral;"> {{result.word}} </span> in English</div>
  <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;">
    <span style="padding-bottom:2vh;display:inline-block;font-size:18px;font-weight:normal;font-variant-caps:all-petite-caps;"> <span style="color:coral;"> {{result.word}} </span></span>
    </div>
  </div>

  <div *ngFor="let result of results">
    <div *ngFor="let each of result.lexicalEntries">
      
      <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;">
        <span style="padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;color: #f15a24;text-transform: uppercase;letter-spacing: 0.8px;font-weight:bold;">  {{each.lexicalCategory}} </span>
      </div>

<div *ngFor="let entries of each.entries">
<div *ngFor="let senses of entries.senses; let rowIndex=index">
    <div *ngIf="senses.definitions">
    <div class="well col-md-10 col-md-offset-1 border_bottom" >
<span style="color:green;font-style:normal;font-weight: normal;padding-bottom:2vh;display:inline-block;font-size:16px;text-transform:normal;"> def:</span>        <span style="color: black;font-style:normal;font-weight: normal;padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;text-transform:normal;"> {{senses.definitions}} </span>
      </div>
    </div>
    <div *ngFor="let examples of senses.examples">
        <div class="col-md-10 col-md-offset-1 border_bottom" >
            <span style="color:black;font-style:normal;font-weight: normal;padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;text-transform:normal;color:green;"> Phrase:</span>        <span style="padding-bottom:2vh;display:inline-block;font-size:16px"> ' {{examples.text}} ' </span>
          </div>
    </div>
    
    
    
    
    </div>
</div>




      </div>
      <div style="display:inline-block;text-align:left;margin-bottom:2vh;" class="col-md-10 col-md-offset-1">
          <button type="button" class="btn btn-default" (click)="MoreSentences(result.word)">
              <span class="glyphicon glyphicon-plus" id ="myId" #myId></span>More Example Sentences
              
            </button>
      </div>
      <div *ngIf="showMore">
      <div *ngFor="let results of dictDataSentencesResults">
          <div *ngFor="let each of results.lexicalEntries">
          <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;">
              <span style="padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;color: #f15a24;text-transform: uppercase;letter-spacing: 0.8px;">  {{each.lexicalCategory}} </span>
              </div>
              <div *ngFor="let sentences of each.sentences">
                  <div class="col-md-10 col-md-offset-1 border_bottom">
                      <span style="color:black;font-style:normal;font-weight: normal;padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;text-transform:normal;color:green;"> Phrase:</span>          <span style="padding-bottom:2vh;display:inline-block;font-size:16px;"> ' {{sentences.text}} '</span>
                      </div>
                </div>
      
              </div>
      </div>
 </div>

      

      <div style="display:inline-block;text-align:left;margin-bottom:2vh;" class="col-md-10 col-md-offset-1">
          <button type="button" class="btn btn-default" (click)="synonyms(result.word)">
              <span class="glyphicon glyphicon-plus"></span>Synonyms
            </button>
      </div>
      <div *ngIf="showMore">
      <div *ngFor="let results of dictDataSynonymsResults">
      
      
        <div *ngFor="let each of results.lexicalEntries">
      
            <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;">
                <span style="padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;color:#f15a24;text-transform:uppercase;letter-spacing:0.8px;">  {{each.lexicalCategory}} </span>
                </div>
      
      
                <div *ngFor="let entries of each.entries">
      
      <div *ngFor="let senses of entries.senses;let rowIndex=index">
      
      
        <div *ngFor="let examples of senses.examples ">
      
      
            <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;">
                    <span style="color:black;font-style:normal;font-weight: normal;padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;text-transform:normal;color:green;"> Phrase:</span>            <span style="padding-bottom:2vh;display:inline-block;font-size:16px;"> ' {{examples.text}} '</span>
                </div>
                <div class="col-md-10 col-md-offset-1" style="text-align:left;padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;color:#656565;text-transform:uppercase;letter-spacing:0.8px;">SYNONYMS</div>
      <div *ngFor="let synonyms of senses.synonyms">
      
   

          <div class="col-md-10 col-md-offset-1 border_bottom">
              <span style="padding-bottom:2vh;display:inline-block;font-size:16px;color:darkgreen"> {{synonyms.text}} </span>
              </div>  
           
    
      
      
      </div>
          
      
        </div>
      </div>
      
                </div>
      
        </div>
      </div>
      </div>
      
      <div style="display:inline-block;text-align:left;margin-bottom:12vh;" class="col-md-10 col-md-offset-1">
          <button type="button" class="btn btn-default" (click)="antonyms(result.word)">
              <span class="glyphicon glyphicon-plus"></span>Antonyms
            </button>
      </div>
     
      
      
      
      <div *ngIf="showMore">
      <div *ngFor="let results of dictDataAntonymsResults">
          
          
            <div *ngFor="let each of results.lexicalEntries">
          
                <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;">
                    <span style="padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;color: #f15a24;text-transform: uppercase;letter-spacing: 0.8px;">  {{each.lexicalCategory}} </span>
                    </div>
          
          
                    <div *ngFor="let entries of each.entries">
          
          <div *ngFor="let senses of entries.senses;let rowIndex=index">
          
          
            <div *ngFor="let examples of senses.examples">
          
          
                <div class="col-md-10 col-md-offset-1 border_bottom" style="border-bottom:1px solid darkgray;">
                        <span style="color:black;font-style:normal;font-weight: normal;padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;text-transform:normal;color:green;"> Phrase:</span>       <span style="padding-bottom:2vh;display:inline-block;font-size:16px;"> ' {{examples.text}} '</span>
                    </div>
                    <div class="col-md-10 col-md-offset-1" style="text-align:left;padding-bottom:2vh;display:inline-block;font-size:16px;font-weight:normal;color:#656565;text-transform:uppercase;letter-spacing:0.8px;">ANTONYMS</div>
          
          <div *ngFor="let antonyms of senses.antonyms">
          
          
      
          
          
              <div class="col-md-10 col-md-offset-1 border_bottom">
                  <span style="padding-bottom:2vh;display:inline-block;font-size:16px;color:mediumvioletred;">  {{antonyms.text}} </span>
                  </div>  
          
        
          
          </div>
              
          
            </div>
          </div>
          
                    </div>
          
            </div>
          </div>
   </div>

      

    


    













    </div>
  
</div>